* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
  background-color: #F0F;
}

.header > :first-child {
  margin-right: auto;
}

.header > div {
  flex-basis: 140px;
  height: 70px;
  background-color: #FF99CC;
  margin: 0 10px;
}

.header > div {
  flex-basis: 140px;
  height: 70px;
  background-color: #FF99CC;
  margin: 0 10px;
}

.header > div {
  flex-basis: 140px;
  height: 70px;
  background-color: #FF99CC;
  margin: 0 10px;
}

.header > div{
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #FF99CC;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: #99FF99;
}

.content {
  max-width: 700px;
  flex-grow: 1;
  background-color: #008000;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.content > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #FF0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #00F;
  justify-content: center;
  padding: 20px;
}

.footer > div {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #BAD3FF;
}

.footer > div {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #BAD3FF;
}

.footer > div {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #BAD3FF;
}